.Headerpages{
    background: #3D7EDB;
    padding: 5px 0;
}

.Headerpages .Headerpageheader {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.Headerpages .Headerpageheader .tatasteellogoimg {
    min-width: 112px;
    height: 15px;
}

.Headerpages .Headerpageheader .tatalogoimg {
    min-width: 56px;
    height: 50px;
}

.para {
    text-align: center;
    font-size: large;
    color: aliceblue;
}