.BlastingSectionPage {
    padding: 3em 0;
}

.BlastingSectionPage .BlastingTables {
    background: #ffffff;
    padding: 30px 20px;
    border-radius: 20px;
    /* border: 1px solid #f1f1f1; */
    box-shadow: 0 0 20px 1px #ededed;
}

.BlastingSectionPage .BlastingTables .form-group1 label {
    min-width: 120px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #000;
}

.BlastingSectionPage .BlastingTables .form-group label {
    min-width: 120px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #000;
}

.BlastingSectionPage .BlastingTables .form-group .react-datepicker-wrapper {
    width: 100%;
}

.BlastingSectionPage .BlastingTables .form-group input {
    width: 100%;
    border: 1px solid #BEB9A6;
    padding: 8px 10px;
    font-size: 14px;
    outline: none;
    background: whitesmoke;
    margin-bottom: 30px;
    border-radius: 4px;
    color: #000000;
    font-family: 'Myriad Pro Regular';
    pointer-events: none;
    cursor: not-allowed;
}

.BlastingSectionPage .BlastingTables .form-group select {
    width: 100%;
    border: 1px solid #BEB9A6;
    padding: 8px 10px;
    font-size: 14px;
    background: #fff;
    outline: none;
    margin-bottom: 30px;
    border-radius: 4px;
    color: #000000;
    font-family: 'Myriad Pro Regular';
}


.BlastingSectionPage .BlastingTables .form-group .ProductionDateDatePicker {
    pointer-events: all;
    background: #fff;
    cursor: pointer;
}

/* .BlastingSectionPage .BlastingTables table tr th:first-child {
    border-radius: 10px 0 0 0;
} */

.BlastingSectionPage .BlastingTables table tr th {
    color: #fff;
    font-size: 12px;
    padding: 10px 16px;
    background-color: transparent;
    border: 1px solid #684d68;
    vertical-align: middle;
}

.BlastingSectionPage .BlastingTables table tr td {
    color: black;
    font-size: 14px;
    padding: 10px 16px;
    border: 1px solid #e5e5e5;
    background: transparent;
    text-align: center;
    vertical-align: middle;
}

.BlastingSectionPage .BlastingTables table tr td input {
    width: 50%;
    text-align: center;
    border: none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
}

.BlastingSectionPage .BlastingTables table tr td select {
    width: 100%;
    border: 1px solid #BEB9A6;
    padding: 8px 10px;
    font-size: 14px;
    outline: none;
    background: #fff;
    border-radius: 4px;
    color: #000000;
    font-family: 'Myriad Pro Regular';
}

.BlastingTables .form-group1 .ProcessSheetFlexBox {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid #BEB9A6;
    padding: 8px 10px;
    margin-bottom: 30px;
    border-radius: 4px;
}

.BlastingTables .form-group1 .ProcessSheetFlexBox select {
    margin: 0;
    border: none;
    padding: 0;
    width: 12%;
    outline: none;
}

.BlastingTables .form-group1 .ProcessSheetFlexBox input {
    margin: 0;
    border: none;
    padding: 0;
    width: 10%;
    background: #fff;
    outline: none;
}

.BlastingTables .form-group1 .ProcessSheetFlexBox input::-webkit-outer-spin-button,
.BlastingTables .form-group1 .ProcessSheetFlexBox input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.BlastingTables .form-group1 .ProcessSheetFlexBox input[type=number] {
    -moz-appearance: textfield;
}

.BlastingSectionPage .BlastingTables table tr td input::-webkit-outer-spin-button,
.BlastingSectionPage .BlastingTables table tr td input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.BlastingSectionPage .BlastingTables table tr td input[type=number] {
    -moz-appearance: textfield;
}

.BlastingTables .form-group1 .ProcessSheetFlexBox b {
    font-size: 20px;
    line-height: 10px;
    height: 14px;
    margin-right: 4px;
}

.BlastingTables .form-group1 .ProcessSheetFlexBox select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.BlastingTables h4 {
    margin: 0;
    font-size: 18px;
    margin-bottom: 30px;
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.BlastingTables h4 span {
    color: #3D7EDB;
    display: inline-block;
    font-size: 16px;
}