.ProcessSheetFooterSection table tr td .FooterDataSignatureSection {
    position: relative;
    text-align: center;
    padding: 10px;
}

.ProcessSheetFooterSection table tr td .FooterDataSignatureSection .FooterDataSignBox {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 96px;
}

.ProcessSheetFooterSection table tr td .FooterDataSignatureSection .QCSignatureImg {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    margin-top: 0;
}

.ProcessSheetFooterSection table tr td .FooterDataSignatureSection .TATAStampImg {
    position: absolute;
    filter: brightness(2.9);
    top: 10px;
    left: 50px;
    right: 0;
    margin: 0 auto;
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

.ProcessSheetFooterSection table tr td .FooterDataSignatureSection .INSPECTEDBYBoxLabelBox {
    margin-top: 10px;
}

.ProcessSheetFooterSection table tr td .FooterDataSignatureSection .INSPECTEDBYBoxLabelBox span {
    display: block;
    text-align: center;
}

@media print {
    .hidethisforprint {
        display: none;
    }
}