.LoaderSectionPage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #3D7EDB, #94b8b5, #97d5f1, #acd0ec);
    background-size: 400% 400%;
    animation: gradientBackground 8s ease infinite;
    transition: all 0.4s ease-in-out;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}