.LoadingSectionPage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3D7EDB;
    transition: all .4s ease-in-out;
    color: #fff;
}

.loaderMain {
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3D7EDB;
    transition: all .4s ease-in-out;
    color: #fff;
}